fail_fast: false
repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black app  # ← src → app
        pass_filenames: false
        language: system
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort app  # ← src → app
        pass_filenames: false
        language: system
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint app  # ← src → app
        pass_filenames: false
        language: system
